.box1 {
    width: 1249px;
    height: 376px;
    background-color:#22F4DA ;
    border-radius: 30px;
    margin-top:73px ; 
    margin-left: 86px;
}
.name {
    padding-top:50px ;
    padding-left: 524px;
    
    

}